*{
  margin: 0;
  padding: 0;
  /* background-color: black; */
}
.main{
  height: 600px;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:lightgrey;
}

.child{
  margin-top: 50px;
  /* border: 2px solid red;   */
  width: 30%;

  padding: 20px !important;
  margin: auto;

  background-color:white ;
}

.form{
  display: flex;
  flex-direction: column;
}

.inputfield{
  margin-top:10px !important;
}

p{
  color: red;
}

.login{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:lightgrey;
}


